html, body {
	background-color: #fff;
	color: #636b6f;
	font-family: 'Raleway', sans-serif;
	/* font-weight: 500; */
	height: 100%;
	margin: 0;
}

#app{
	color:#636b6f;
	font-weight: 700;
}

html input, input[type="submit"]{
	padding: 6px;
	background: none;
	border: 1px solid;
}
html .title {
	font-size: 48px;
}

h1,h2,h3,h4{
	font-weight: 700;
}
/* / Form */
.full-height {
	height: 100%;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 84px;
}

a{
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	color: #636b6f;
	text-transform: uppercase;
	
}

.links > a {
	padding: 0 25px;
	text-transform: uppercase;
	
}

.m-b-md {
	margin-bottom: 30px;
}

.m-t-md{
	margin-top: 30px;	
}

#app{
	text-align: left;
	margin:0 auto;
	display: flex;
	width:1200px;
}

#app .sidebar{
 /* flex:1; */
 background: #efefef;
	width: 250px;
	border-radius: 10px;
	height: 500px;
}

#app .main{
	padding-left:10px;
	flex:2;
	/* background: #fefefe; */
}

.no-m{
	padding: 0;
	margin:0;
}

.explain{
	margin:0 auto 30px auto;
	max-width: 600px;
	font-style: italic;
	font-weight: bold;
}

v-cloak{
	display: none;
}

.h-c{
	text-align: center;
}

.c_passed, .ok{
	color:green;
	font-weight: 900;
}

.error, .warn{
	color:crimson;
	/* font-weight: 7 */
}

ul li {
    margin: 4px;
}